<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://starwarsapi-e9evg0b8dhg8czbw.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>158cec9e-c0ee-408b-bfd7-a222bc0fb393</ProjectGuid>
    <PublishUrl>https://starwarsapi-e9evg0b8dhg8czbw.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$StarWarsAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>